@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div style="margin-top:50px;" class="jumbotron">
        <h1>Welcome to a SignalR chat server!</h1>
        <p>Please choose your desired chat room below</p>
        
    </div>
    <div class="col-md-6">
        <a asp-action="ChooseChatRoom" asp-controller="Home" asp-route-chatroom="1" style="text-decoration:none;">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Chat room 1</h3>
                </div>
                <div class="panel-body">
                    <span id="chatroom1Members"></span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6">
        <a asp-action="ChooseChatRoom" asp-controller="Home" asp-route-chatroom="2" style="text-decoration:none;">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Chat room 2</h3>
                </div>
                <div class="panel-body">
                    <span id="chatroom2Members"></span>
                </div>
            </div>
        </a>
    </div>
</div>

<script>
   
    let connection = new signalR.HubConnection('/chatHub');
       
    connection.start()
        .then(() => connection.invoke("GetChatRoom1Members"))
        .then(() => connection.invoke("GetChatRoom2Members"));

    connection.on('GetChatRoom1Members', data => {  
        const spanMembers1 = document.getElementById("chatroom1Members");
        let members = "";
        for (var i = 0; i < data.length; i++) {
            members += data[i].name + ",";
        }
        spanMembers1.innerHTML = members;
    });


    connection.on('GetChatRoom2Members', data => {   
        const spanMembers2 = document.getElementById("chatroom2Members");
        let members = "";
        for (var i = 0; i < data.length; i++) {
            members += data[i].name + ",";
        }        
        spanMembers2.innerHTML = members;
    });

  
</script>